<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="assets/logos/MyLogo.png" alt="Logo" />
    </a>
    <h1>My Food Arena</h1>
    <nav>
      <ul style="margin-top: 1em ; font-size: large;">
        <li><a routerLink="/login">Login</a></li>
        <li class="menu-container">
          <a routerLink="/dashboard">Satyaki</a>
          <div class="menu">
            <a routerLink="/dashboard">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/settings">Logout</a>
          </div>
        </li>

        <li>
          <a routerLink="/cart-page">Cart <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
