<div class="login-container">
  <!-- Left Section: Logo -->
  <div class="logo-section">
    <img src="assets/logos/MyLogo-l.jpg" alt="Logo" />
  </div>

  <!-- Right Section: Login Form -->
  <div class="form-section">
    <div class="details">
      <app-title title="Login"></app-title>
      <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
        <!-- Email Input -->
        <text-input
          [control]="fc.email"
          [showErrorsWhen]="isSubmitted"
          type="email"
          label="Email"
          placeholder="Enter your email"
          tooltip="We'll never share your email with anyone else."
        >
        </text-input>

        <!-- Password Input -->
        <text-input
          [control]="fc.password"
          [showErrorsWhen]="isSubmitted"
          type="password"
          label="Password"
          placeholder="Enter your password"
          tooltip="Your password must be at least 8 characters long."
        >
        </text-input>

        <!-- Forgot Password Link -->
        <div class="forgot-password">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>

        <!-- Login Button -->
        <default-button text="Login"></default-button>

        <!-- Signup Link -->
        <div class="signup-link">
          Don't have an account? <a routerLink="/register">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
