<div class="login-container">
  <div class="logo-section">
    <img src="assets/logos/MyLogo-l.jpg" alt="Logo" />
  </div>
  <div class="form-section">
    <div class="details">
      <app-title title="Login"></app-title>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="input-container">
          <label>Email</label>
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched }"
          />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>

        <div class="input-container">
          <label>Password</label>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="invalid-feedback">
            Password is required.
          </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <div class="signup-link">
          Don't have an account? <a routerLink="/signup">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
