<div class="star-rating">
  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
    <span
  class="star"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave()"
  [attr.aria-label]="star <= rating ? 'Filled star' : 'Empty star'"
  [attr.aria-valuenow]="rating"
  [attr.aria-valuemin]="1"
  [attr.aria-valuemax]="5"
  [class.filled]="star <= Math.floor(rating)"
  [class.half-filled]="star === Math.ceil(rating) && rating % 1 !== 0"
  (click)="onRatingChange(star)"
>
  ★
</span>
  </ng-container>
</div>
<!-- <div class="tooltip" *ngIf="rating > 0">{{ rating }}</div> -->
